.no-page{
    width: 90vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 90%;
        max-width: 800px;
        height: auto;
    }
}